h1, h2, h3, h4, h5 {
    font-family: 'IM Fell English', serif;
}

h1 { font-size: 53.5px;    line-height: 86.57px; } 
h2 { font-size: 33.06px;  line-height: 53.51px;    } 
h3 { font-size: 20.43px; line-height: 33.07px;  } 
h4 { font-size: 12.63px; line-height: 20.43px; } 
h5 { font-size: 7.81px;     line-height: 12.63px; } 

body, p {
    color: #333;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 20.43px;
    line-height: 33.07px;
}

li {

    list-style-type: square;
    margin-top: 0px;
    margin-left: 50px;
    padding-left: 5px;
}

a {
    color: #a64000;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px #666 dotted;
    color: #006464;
}

.controls a:hover {
    border-bottom: none;
}
.right-txt {
    padding-top: 32.4px;
}

#page-text {
    padding-top: 32.4px;
}

#page-text p {
    margin-bottom: 32.4px;
    padding-left: 32.4px;
}

#banner {
    padding-left: 15px;
}

.nav-link {
    margin-right: 10px;
}

.errorpage p {
    position: relative;
    top: -435px;
    left: 415px;
    width: 183px;
    height: 91px;
}



.subtitle {
    margin-top: -15px;
}

.fresh {
    color: #b80000;
}

#comic-page-homepage img {
    width: 330px;
}

#comic-page {
    margin-top: -5px;
}

#social-links {
    width: 140px;
    position: fixed;
    top: 0px;
    right: 0px;
}

#debugger {
float: right;
}

#prefetch-next {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#prefetch-prev {
    visibility: hidden;
    width: 0px;
    height: 0px;
    }

.controls img {
    width: 40px;
    padding-top: 85px; 
}

.lifter {
    margin-top: -100px;
}

.dropped {
    margin-top: 50px;
}

#chapter-nav {
    line-height: 16px;
    font-size: 16px;
    float: right;
    padding-top: 85px;
}

.chapter-links {
    border-bottom: 1px #ccc dotted;
}

#page-info p {
    font-size: 14px;
    color: #666;
}

#page-nav {
    float: left;
}

.page-nav-list {
    list-style-type: none;
    }

.page-nav-list a:hover {
    color: #b80000;
    border: none;
}

.page-nav-current {
    font-weight: bold;
    }

.front-right {
}

.book-toc {
    position: relative;
    float: left;
    top: -750px;
    width: 230px;
    padding: 5px;
    background: #fff;
    opacity: .6;
    filter:alpha(opacity=60);

}

.book-toc li {
    padding-left: 20px;
}

.chapter-list span {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 300px;
}

.chapter-list:hover span {
    visibility: visible;
}


#controls-prev, #controls-next {
    width: 40px;
}

.page-nav-list a {
    text-decoration: none;
    color: #ccc;
}

.page-nav-current a {
    color: #000;
}

#remember-me {
    text-decoration: none;
    color: #ccc;
}

#remember-me:hover {
    border-bottom: 1px #ccc dotted;
}
