{% extends "base.html" %}
{% load markup %}
{% block banner %}

{% endblock %}

{% block title %}An Epic Webcomic by Lee Lesie {% endblock %}

{% block content %}

    <img src="{{ STATIC_URL }}/img/RigbyReturns.jpg" alt="RiGBY the Barbarian Poster" />
    <h2>RiGBY returns in 2012!  <a href="http://leelesliecomics.com">Click here</a> for further updates</h2>
    <h3>RiGBY wird im 2012 zurueck! <a href="http://leelesliecomics.com"> Kicken Sie hier</a> fuer Ihre RIGBYsbedarfen!</h3>
    <h3>RiGBY va retourner ou 2012!<a href="http://leelesliecomics.com"> Cliquez-vous ici</a> pour tout votre besoins RiGBY actuelle</h3>


{% endblock %}

